// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
@use '../abstracts' as *;
main{
    background-color: $white;

}