/* ============================
   HERO 
   ============================ */

   .tour-hero-antwerpen {
    position: relative;
    width: 100%;
    height: 90vh;
    min-height: 420px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    background-image: url("../../img/privado-antwerpen.jpg");
  
    @media (min-width: 1024px) {
      height: 90vh;
    }
  
    &__overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.55) 0%,
        rgba(0, 0, 0, 0.35) 40%,
        rgba(0, 0, 0, 0.15) 70%,
        rgba(0, 0, 0, 0.05) 100%
      );
      z-index: 1;
    }
  
    &__content {
      position: relative;
      z-index: 2;
      width: 100%;
      padding: 0 5% 50px;
    }
  
    &__title {
      font-family: Oswald, sans-serif;
      color: #f1ecf4;
      font-size: 40px;
      font-weight: 750;
      line-height: 1.1;
      max-width: 900px;
  
      @media (min-width: 640px) {
        font-size: 4rem;
      }
      @media (min-width: 1024px) {
        font-size: 4.8rem;
      }
    }
  }