@use '../abstracts' as *;
.faq {
    padding: 4rem 0;
  }
  
  .faq__title {
    text-align: center;
    margin-bottom: 2rem;
    font-family: $font-poppins;
    font-size: 30px;
  }
  
  .faq__item {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    
  }
  
  .faq__question {
    width: 100%;
    background: none;
    border: none;
    padding: 1rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .faq__icon {
    width: 1rem;
    height: 1rem;
    background-image: url("img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
  }
  
  .faq__question[aria-expanded="true"] .faq__icon {
    transform: rotate(180deg);
  }
  
  .faq__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
  }
  
  .faq__answer p {
    margin-top: 0.5rem;
    font-size: 16px;
  }
  